/* current page */
* {
    margin: 0px;
  }
  body {
    margin: auto;
    background-image: url("/images/counter.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .m_logo {
    color: aliceblue;
    margin: 5px;
    font-family: "Bungee";
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
  
 
.count{
    font-size: 8em;
}

.num_container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.548);
    /* width: fit-content; */
    padding: 1em;
    margin: 5em;
    border-radius: 0.5em;
}
.count{
    font-family: "bungee";
    color: white;
    /* font-size: 8em; */
}


.promo_video{
  background-color: white;
}