
/* current page */

body{
    margin: auto;
    
    background-repeat: no-repeat;
}

.m_logo{
    color: aliceblue;
    margin: 5px;
    font-family: 'Bungee';
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.nav_bar{
    background-size: 1500px;
    /* height: 100px; */
    background-color: black;
    /* background-image: url('https://wallpaperaccess.com/full/2065695.jpg'); */
    position: relative;
}



.u_list{
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav_items{
    display: inline;
color: aliceblue;    
}

.nav_buttons{
    width: fit-content;
    height: 30px;
    float: right;
    padding-left: 850px;

}
.m_logo,.nav_buttons{
    display: inline;
}


.nav_items_inside{
    font-family: 'Economica';
    color: aliceblue;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
    margin-left: 5px;
    font-size: 22px;
    text-transform: capitalize;
    
}


.nav_items_inside:hover{
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
        background-color:yellow ;
        color:black;
}



#sign_up_button:hover{
    background-color: red;
    color: black;

}

.Q_div{ 
    background-repeat: no-repeat;
    background-size: 1540px;
    /* background-image: url('/images/c_pic.jpg'); */
    height: 510px;
    width: auto;
    background-color: black;
} 
.bg_video{
    /* width: 100%; */
    
    position: absolute;
}

.quote{
    
    font-family: 'Economica';
    text-transform: uppercase;
    font-size: 40px;
    
    color: white;
    margin: auto;
}

.Quote_div{
    position: absolute;
    height: 499px;
    width: 1239px;
    padding: 120px 140px 0px 140px;
    background-color: rgba(0, 0, 0, 0.518);
}
.join_button{
    border: 5px;
    color: red;
    text-decoration: none;
    font-family: 'Economica';
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    margin: auto;

}