* {
  margin: 0px;
}
body {
  margin: auto;
  background-image: url("images/add_user_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.add_user_form p {
  margin-bottom: 0.2em;
  margin-top: 0.4em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* form_div */
.form_div {
  width: 80em;
  margin-top: 4em;
}

.form_div table td {
  margin: 0 auto;
}

/* quote  */
.left_quote {
  background-color: rgba(0, 0, 0, 0.585);
  border-radius: 1em 0em 0em 1em;
}
.left_quote p {
  font-size: 4em;
  font-family: "Poppins";
  font-weight: 600;
  margin-top: 50%;
  color: white;
}

/* form box */
.add_user_form {
  background-color: white;
  border-radius: 0em 1em 1em 0em;
}
.add_user_form p {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3em;
}

.add_user_form table p {
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  font-size: 1.65em;
  /* font-weight: 700; */
}
.add_user_form table span {
  color: black;
  font-family: "Poppins";
  font-size: 1em;
}
.add_user_form table input, select {
  height: 2em;
  width: 16em;
}

.left_quote,
.add_user_form {
  height: 48em;
  padding: 2em;
}
.form-left{
  margin-right: 4em;
}

.submit_button {  
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit_button:hover,
.submit_button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.submit_button:active {
  opacity: 0.5;
}
